<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>{{ book.name }}</h1>
<b>Title</b> - {{ book.name }}<br>
<b>Author</b> -
{% for author in book.author.all %}
    {{ author }}
{% endfor %}<br>
<b>Series</b> - {{ book.series.title }}<br>
<b>Publishing House</b> - {{ book.publishing_house.house }}<br>
<b>Genre</b> -
{% for genre in book.genre.all %}
    {{ genre }}
{% endfor %}<br>
<b>Price</b> - {{ book.price }}<br>
<b>Format</b> - {{ book.format }}<br>
<b>ISBN</b> - {{ book.isbn_code }}<br>
<b>Publishing Date</b> - {{ book.publishing_date }}<br>
<b>Pages Amount</b> - {{ book.pages_amount }}<br>
<b>Binding</b> - {{ book.binding }}<br>
<b>Weight</b> - {{ book.weight }}<br>
<b>Amount</b> - {{ book.books_amount }}<br>
<b>Age limit</b> - {{ book.age_limit }}<br>
<b>Rating</b> - {{ book.rating }}<br>
<b>Active</b> - {{ book.is_active }}<br>
</body>
</html>