{% extends 'customer_base.html' %}
{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block body %}
    {% if not User %}
        <h4>Guest</h4>
    {% else %}
        <h4>{{ user.username|title }}</h4>
    {% endif %}
        <table class="table">

        <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for book_in_cart in cart.books.all %}
            <tr>
                <td><img src="{{ book_in_cart.book.cover_photo.url }}" class="mr-3" alt="..." width="64" height="64"></td>
                <td>{{ book_in_cart.book.name }}</td>
                <td>{{ book_in_cart.quantity }}</td>
                <td>{{ book_in_cart.price }}</td>
            </tr>
        {% endfor %}
    </table>

    <h6>Total price: {{ cart.total_price }}</h6>

{% endblock body %}