{% extends 'customer_base.html' %}
{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block body %}
    {% if not User %}
        <h4>Guest</h4>
    {% else %}
        <h4>{{ user.username|title }}</h4>
    {% endif %}
    {% for book_in_cart in cart.books.all %}
        <div class="media">
            <img src="{{ book_in_cart.book.cover_photo.url }}" class="mr-3" alt="..." width="64" height="64">
            <div class="media-body">
                <h5 class="mt-0">{{ book_in_cart.book.name|title }}</h5>
            </div>
        </div>
    {% endfor %}

{% endblock body %}