{% extends 'customer_base.html' %}
{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block body %}
    {% if user is None %}
        Guest
    {% else %}
        <h4>{{ user.username|title }}</h4>
        {{ book.name }}
    {% endif %}
    {% for book in cart.books.all %}
        <div class="media">
            <img src="{{ book.cover_photo.url }}" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{ book.name|title }}</h5>
            </div>
        </div>
    {% endfor %}

{% endblock body %}