{% extends 'customer_base.html' %}
{% load static %}
{% block title %}
    <title>Home Page</title>
{% endblock title %}
{% block body %}
    <h1>Last 10 books</h1>
    <div class="row">
        {% for book in books %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ book.cover_photo.url }}" alt="Card image cap" width="100" height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/book/{{ book.pk }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock body %}
