{% extends 'customer_base.html' %}
{% load static %}
{% block title %}
    <title>Home Page</title>
{% endblock title %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Currencies
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">USD: {{ USD }}</li>
            <li class="list-group-item">EUR: {{ EUR }}</li>
            <li class="list-group-item">RUB: {{ RUB }}</li>
        </ul>
    </div>

    <h1>Last 10 books</h1>
    <div class="row">
        {% for book in books %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ book.cover_photo.url }}" alt="Card image cap" width="100"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name.title }}</h5>
                        <p class="card-text"> Publishing house: {{ book.publishing_house }}<br>
                            Series: {{ book.series }}<br>
                            Price: {{ book.price }}
                        </p>
                        <a href="/book/{{ book.pk }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Rating</h1>
    <div class="row">
        {% for book in rating %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ book.cover_photo.url }}" alt="Card image cap" width="100"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name.title }}</h5>
                        <p class="card-text"> Publishing house: {{ book.publishing_house }}<br>
                            Series: {{ book.series }}<br>
                            Price: {{ book.price }}
                        </p>
                        <a href="/book/{{ book.pk }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>The best price</h1>
    <div class="row">
        {% for book in most_popular %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ book.cover_photo.url }}" alt="Card image cap" width="100"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name.title }}</h5>
                        <p class="card-text"> Publishing house: {{ book.publishing_house }}<br>
                            Series: {{ book.series }}<br>
                            Price: {{ book.price }}
                        </p>
                        <a href="/book/{{ book.pk }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
