{% extends 'customer_base.html' %}
{% block title %}
    <title>Home Page</title>
{% endblock title %}
{% block body %}
    <h1>Authors</h1>
    {% include 'paginator.html' %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for author in object_list %}

            <tr>

                <td>{{ author.author|title }}</td>

                <td>
                    <a href="/author/{{ author.pk }}" class="btn btn-info">View</a>
                    <a href="/author/{{ author.pk }}/update" class="btn btn-light">Update</a>
                    <a href="/author/{{ author.pk }}/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>

        {% endfor %}


    </table>
{% endblock body %}