{% extends 'customer_base.html' %}
{% block title %}
    <title>Home Page</title>
{% endblock title %}
{% block body %}
    <h1>Genres</h1>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for genre in object_list %}

            <tr>

                <td>{{ genre.genre|title }}</td>

                <td>
                    <a href="/genre/{{ genre.pk }}" class="btn btn-info">View</a>
                    <a href="/genre/{{ genre.pk }}/update" class="btn btn-light">Update</a>
                    <a href="/genre/{{ genre.pk }}/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>

        {% endfor %}


    </table>
{% endblock body %}