{% extends 'customer_base.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock title %}

{% block body %}
    <h1>Publishing Houses</h1>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for publishing_house in object_list %}

            <tr>

                <td>{{ publishing_house.house|title }}</td>

                <td>
                    <a href="/publishing_house/{{ publishing_house.pk }}" class="btn btn-info">View</a>
                    <a href="/publishing_house/{{ publishing_house.pk }}/update" class="btn btn-light">Update</a>
                    <a href="/publishing_house/{{ publishing_house.pk }}/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>

        {% endfor %}

    </table>
{% endblock body %}