{% extends 'customer_base.html' %}
{% block title %}
    <title>Home Page</title>
{% endblock title %}
{% block body %}
    <h1>Series</h1>
    {% include 'paginator.html' %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for series in object_list %}

            <tr>

                <td>{{ series.title|title }}</td>

                <td>
                    <a href="/series/{{ series.pk }}" class="btn btn-info">View</a>
                </td>
            </tr>

        {% endfor %}


    </table>
{% endblock body %}