{% extends "s_admin_base.html" %}
{% load crispy_forms_filters %}
{% block title %}<title>Add new publishing house</title>{% endblock title %}
{% block main %}
    <div class=container>
        <h3>Add new publishing house</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Create">
            <a class="btn btn-success" href="{% url 's_admin:s_admin_publishing_house_list' %}">Back </a>
        </form>
    </div>
{% endblock main %}
