{% extends "s_admin_base.html" %}
{% load crispy_forms_filters %}
{% block title %}<title>Update {{ object.pk }}</title>{% endblock title %}

{% block main %}
    <div class=container>
        <h3>Информация о заказе</h3>
        <form action="" method="post" enctype="multipart/form-data">
            <label>Заказчик</label>
            <label>
                <input type="text" value="{{ order.cart.customer }}" maxlength="15"
                       class="textinput textInput form-control"
                       disabled>
            </label>
            <label>Сумма заказа</label>
            <label>
                <input type="text" value="{{ object.cart.total_price }}" maxlength="15"
                       class="textinput textInput form-control" disabled>
            </label>
            <label>Книги в заказе</label>
            {% for books in object.cart.books.all %}
                <label>
                    <input type="text"
                           value="{{ books.book }}, Кол-во: {{ books.quantity }}, Цена за штуку: {{ books.price }}"
                           maxlength="15" class="textinput textInput form-control" disabled>
                </label>


            {% endfor %}
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" value="Update">Update</button>
            <a class="btn btn-dark" href="{% url 's_admin:s_admin_order_list' %}"> Back </a>
            <a class="btn btn-danger" href="{% url 's_admin:s_admin_order_delete' order.pk %}">Delete</a>
        </form>

    </div>

{% endblock main %}
