{% extends "s_admin_base.html" %}
{% load crispy_forms_filters %}
{% block title %}<title>Delete Order {{ object.pk }} ???</title>{% endblock title %}
{% block nav_cart %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 's_admin:s_admin_order_list' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-shopping-cart">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
            </svg>
            Order List
        </a>
    </li>
{% endblock nav_cart %}
{% block main %}
    <body>
    <h1>Delete Order #{{ object.pk }} ?</h1>
    <form action="" method="post">
    {% csrf_token %}
        {{ form|crispy }}
    <a href="{% url 's_admin:s_admin_order_list' %}" class="btn btn-danger" type="submit">Delete</a>
    </form>
{% endblock main %}
