{% extends 'customer_base.html' %}
{% block title %}
    <title>Cart</title>
{% endblock title %}

{% block body %}
    {% if not user %}
        <h4>Guest</h4>
    {% else %}
        <h4>{{ user.username|title }}</h4>
    {% endif %}
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for book_in_cart in order.cart.books.all %}

            {{ book_in_cart.books }}
            <tr>
                <td><img src="{{ book_in_cart.book.cover_photo.url }}" class="mr-3" alt="..." width="64" height="64"></td>
                <td>{{ book_in_cart.book.name }}</td>
                <td>{{ book_in_cart.quantity }}</td>
                <td>{{ book_in_cart.price }}</td>
                <td>
                    <a href="{% url 'cart:book_in_cart_delete' book_in_cart.pk%}" class="btn btn-danger">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a></td>
            </tr>
        {% endfor %}
    </table>

    <h6>Total price: {{ order.cart.total_price }}</h6>

{% endblock body %}